*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-navbar{
    margin-bottom: 2%;
}
.searchbar{
    display: flex;
    margin-top: 10px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    /* padding-left: 20px;
    margin-top: 10px;
    margin-left: 180px;
    width: 15rem;
    height: 40px; */
   
}


.navbar-nav li{
  margin-left: 20px;
    font-size: 18px;
}
#icon{
    font-size: 20px;
}
/* .navbar-nav li:hover{
    background-color: white;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s ease-in-out;

} */
.navbar-nav li a{
    color:black;
    padding: 5px 10px!important;
    border-radius: 5px;

}
.navbar-nav li a:hover{
    background-color:darkgray;
    color: whitesmoke;

}
@media screen  and (max-width:991px){
    .navbar-nav li{
        /* position: relative;
        left: 50%;
        right: 50%; */
        margin: auto;
    }
    .searchbar{
      margin: auto;
    }
    /* #login{
        left: 20%;
        right: 50%;
        position: relative;


   } */
    
    
}



