 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


 * {
    margin: 0px;
    padding: 0px;
 }

 body {
    font-family: 'Poppins', sans-serif;
 }

 html {
    font-size: 12px
 }

 :root {
    --bg-color: #2F4F4F;
    --main-color: #87CEFA;
    --overlay-color: #5f5d5dd3;
 }

 ::-webkit-scrollbar {
    background-color: var(--bg-color);
 }

 ::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
 }

 ::-webkit-scrollbar-track {
    background-color: var(--overlay-color);
 }

 .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 body {
    background-color: var(--bg-color);
    color: white
 }

 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem 5rem;
    box-shadow: 0px 0px 5px black;
    background-color: var(--bg-color);
    z-index: 10000;
 }
 .bx-menu{
   font-size: 2rem;
   display: none;
 }

 header .logo {
    font-family: cursive;
    color: var(--main-color)
 }

 header .logo::first-letter {
    color: white;
 }

 nav ul {
    display: flex;
    list-style: none;
 }

 nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-left: 5rem;
    transition: .2s ease;
 }

 nav ul li a:hover,
 nav ul li .active {
    color: var(--main-color);
    text-shadow: 0px 0px 10px var(--main-color);
 }

 /* home section */
 #home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 8rem;
    height: 80vh;
    position: relative;
 }

 .home-left-side,
 .home-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    position: relative;
   
    

 }
 .home-left-side{
   transition: all .4s ease;
   transform: translateX(-500px);
 }
 .btn{
   transition: all .4s ease;
   transform: translateY(50px);

 }
 .slidup{
   transform: translateY(0px);
 }
 .show{
   transform: translateX(0px);
 }
 
 

 .home-right-side {
    padding-left: 0;
    align-items: center;
 }

 .home-right-side .circle {
    width: 300px;
    height: 300px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 50%;

 }

 .home-right-side img {
    border-radius: 2rem;
    transform: translate(-50%, -50%);
    border: 0.5rem solid var(--main-color);
    box-shadow: 0px 0px 10px var(--main-color);
    animation-name: slide;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    transition: slide .2s ease-in-out;
 }


 @keyframes slide {
    0% {
       transform: scale(1);
    }

    50% {
       transform: scale(0.9)
    }

    100% {
       transform: scale(1);
    }

 }

 .home-left-side h3 {
    font-size: 2rem;
 }

 .home-left-side h1 {
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 2.5rem;
 }

 .home-left-side p {
    font-size: 1.5rem;
 }

 .socialMedia-icons {
    margin-top: 1rem;
 }
 .socialMedia-icons a{
   color: white;
 }

 .socialMedia-icons i {
    font-size: 2.5rem;
    padding-right: 1rem;
    transition: .2s ease;
 }

 .socialMedia-icons i:hover {
    color: var(--main-color);
    text-shadow: 0px 0px 10px var(--main-color);
 }
 .btn{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100px;
   height: 30px;
   background-color: var(--main-color);
   margin-top: 2rem;
   border: none;
border-radius: 15px;
color: white;
text-transform: capitalize;
transition: transform 0.5s;
 }
 .btn:hover{
   transform: scale(0.8);
 }

 /* about section */
 #about {

    padding: 20px;
    

 }

 .about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 2rem;
    background-color:white;
    padding: 5rem;
    


 }

 .aboutSection-right-side,
 .aboutSection-left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


 }

 .aboutSection-right-side p {
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.5rem;
    width: 70%;
    font-size: 1.5rem;
    text-align: justify;
    color:black
 }

 #about h1 {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 3rem;
    text-transform: capitalize;
    color: var(--main-color);
 }

 .aboutSection-left-side img {
    padding: 2rem;
    aspect-ratio: 1/1;
    transform: translateX(-500px);
    transition: all 2s ease;
 }
 .aboutSection-left-side .active{
   transform: translateX(0px);
 }

 /* @keyframes move {
   0%{
      
   }
   100%{
      
   }
 } */

 #home::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: var(--main-color);
    clip-path: polygon(100% 50%, 0 100%, 100% 100%);
    z-index: 100;
 }

 /* skills section */

 #skills {
    width: 100%;
 }

 .skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 5rem;
    gap: 2rem 2rem;
    padding: 5rem;
 }

 .skills-container .skills-card {
    height: 10rem;
    box-shadow: inset 0px 0px 10px var(--main-color);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all .2s ease-in-out;
 }

 #skills h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 10rem;
    margin-bottom: 2.5rem;
    text-transform: capitalize;
    color: var(--main-color);
 }

 .skills-container .skills-card:hover {

    transform: rotateY(180deg)
 }

 .backface {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
 }

 .frontface {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
 }

 .skills-container img {
    width: 25%;
    height: 50%;
 }

 #projects {
    margin: auto;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }

 .project-container {
  

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5rem;
 }

 #projects h1 {
    text-align: center;
    color: var(--main-color);
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 3rem;
    text-transform: capitalize;
 }

 .project-container .project-card {
    width: 100%;
    
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: .5rem;
    transition: 0.2s ease;

 }

 .project-card {
   height:200px;
    background-color: var(--main-color);
 }

 .project-container .project-card:hover {
    transform: scale(1.1);
 }

 .project-container img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: .5rem .5rem 0 0;
   
 }

 .project-container .project-content {
    padding: 0 2rem;
 }

 /* .project-content h3 {
    display: -webkit-box;
    /* max-height: 20px;
   overflow:hidden; */
    /* -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; */



 .project-content p {
    height: 50px;
    overflow-y: hidden;


 }

 #contact {
    background-color: black;
    margin-top: 10rem;
    padding: 5rem;
 }
 #home h1 span{
   animation: animate 1s linear infinite;
   
   
 }
 @keyframes animate {
   0%{
      color:red ;
   }100%{
      color:va(--main-color)
   }
   
 }
 #home h1 span:nth-child(1){
    animation-delay: .2s;
 }
 #home h1 span:nth-child(2){
   animation-delay: .4s;
 }
 #home h1 span:nth-child(3){
   animation-delay: .6s;
 }
 #home h1 span:nth-child(4){
   animation-delay: .8s;
 }
 #home h1 span:nth-child(5){
   animation-delay: 1s;
 }
 
 

 @media screen and (max-width: 760px) {
    .project-container {
       grid-template-columns: 1fr;
       row-gap: 5rem;
    }

    .skills-container {
       grid-template-columns: 1fr;

       margin-left: auto;
       margin: 0 30px;
       padding: 0;
    }

    .skills-card {
       width: 85vw;
       height: 150px;
    }

    .project-container .project-card{
       width: 100%;
       height: 250px;
    }

    .project-container img {
       height: 150px;
    }
    .home-left-side h3 {
      font-size: 1.5rem;
   }
  
   .home-left-side h1 {
      color: var(--main-color);
      text-transform: capitalize;
      font-size: 2rem;
   }
  
   .home-left-side p {
      font-size: 1rem;
   }

    #home .home-right-side {
       display: none;
    }

    #home {
       grid-template-columns: 1fr;
       margin: 4rem 4rem;
    }
    

    .about-container {
       grid-template-columns: 1fr;
    }
    .aboutSection-right-side p{
      width: 100%;
      font-size: 1rem;
      text-align: justify;
    }

    .home-left-side {
       padding: 0;
    }
    #home::before {
      clip-path: polygon(100% 70%, 0 100%, 100% 100%);
      
   }
  
 }

 @media screen and (max-width:1020px) {
    header nav ul {
       position: absolute;
       top: 100%;
       right:-110%;
       background: black;
       text-align: center;
       display: inline-block;
       padding: 2rem;
       display: block;
       transition: all .2s ease;
    }
    .active{
      left:0;
      right:0;
    }

    header nav ul li {
       margin-bottom: 2rem;
    }
    header nav ul li a{
      margin: 0;
    }
    .bx-menu{
      display: block;
    }
 }

 @media screen and (min-width:761px) and (max-width: 1020px) {
    #home {
       grid-template-columns: 1fr;
    }

    #home .home-right-side {
       display: none;
    }
    .project-container {
       grid-template-columns: 1fr 1fr;
       row-gap: 2rem;
    }

    .skills-container {
       grid-template-columns: 1fr 1fr;
    }

    #project {
       height: 100%;
    }

    .project-card {
       height: 200px;
    }

    .project-container div {
       width: calc(50vw/2);

    }

    .about-container {
       grid-template-columns: 1fr;
    }

    .aboutSection-left-side {
       display: block;
    }

    .aboutSection-left-side img {
       width: 100%;
       height: 100%;
       padding: 0;
       margin: 0;
    }


 };